@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.login-container::-webkit-scrollbar {
  display: none;
}

.navInput {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navPopup {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.priceInfoTag {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}